body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:857px;
}
#u28 {
  position:absolute;
  left:820px;
  top:41px;
  width:941px;
  height:857px;
}
#u29 {
  position:absolute;
  left:2px;
  top:420px;
  width:937px;
  visibility:hidden;
  word-wrap:break-word;
}
